{% extends 'base.html.twig' %}

{% block title %}New Subthemes{% endblock %}

{% block body %}

    <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn">Thèmes</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn">Ressources</div>
                </a>
            </div>

            {{ include('subthemes/_form.html.twig') }}

            <a href="{{ path('subthemes_index') }}">back to list</a>

        </div>
    </div>
{% endblock %}
