{% extends 'base.html.twig' %}

{% block title %}Subthemes{% endblock %}

{% block body %}
    <h1>Subthemes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subtheme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subtheme.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ subtheme.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subthemes_index') }}">back to list</a>

    <a href="{{ path('subthemes_edit', {'id': subtheme.id}) }}">edit</a>

    {{ include('subthemes/_delete_form.html.twig') }}
{% endblock %}
