{% extends 'base.html.twig' %}

{% block title %}Ma bibliodev • Sous-thèmes{% endblock %}

{% block body %}

<div class="contenant">
    <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                    <div class="admin-btn">{{ currentTheme.name }}</div>
                    <div class="admin-btn"> {{ currentSubtheme.name }}</div>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn-white">Ressources</div>
                </a>
            </div>

    {# Afficher les ressources du sous-thèmes par types #}

            <div class="grid-theme">
                <div class="col-theme">
                    <div class="case-type-ressource">
                        <span> Vidéos </span>
                    </div>
                {% if currentSubtheme is empty %}

                        <p>Pas de vidéos dans la base de donnée.</p>

                {% else %}
                    {% for ressource in ressourcesVideo %}
                        <div class="row-theme">
                                <a href="{{ ressource.url }}" target="_blank">
                                    <div class="case-theme">
                                    <span class="ressource-name"> {{ ressource.name }} </span> <br/>
                                    <span class="ressource-type"> Level {{ ressource.level }}</span>                                    </div>
                                </a>
                                <a href="{{ path('ressources_show', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </a>
                                <a href="{{ path('ressources_edit', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-edit"></i>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}

                {% endif %}
                </div>

                <div class="col-theme">
                    <div class="case-type-ressource">
                        <span> Cours </span>
                    </div>
                {% if currentSubtheme is empty %}

                        <p>Pas de cours dans la base de donnée.</p>

                    {% else %}

                     {% for ressource in ressourcesCours %}
                        <div class="row-theme">
                                <a href="{{ ressource.url }}" target="_blank">
                                    <div class="case-theme">
                                    <span class="ressource-name"> {{ ressource.name }} </span> <br/>
                                    <span class="ressource-type"> Level {{ ressource.level }}</span>                                           </div>
                                </a>
                                <a href="{{ path('ressources_show', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </a>
                                <a href="{{ path('ressources_edit', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-edit"></i>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}

                {% endif %}
                </div>
                <div class="col-theme">
                    <div class="case-type-ressource">
                        <span> Liens utiles </span>
                    </div>
                {% if currentSubtheme is empty %}

                        <p>Pas de liens dans la base de donnée.</p>

                {% else %}
                    {% for ressource in ressourcesLiens %}
                        <div class="row-theme">
                                <a href="{{ ressource.url }}" target="_blank">
                                    <div class="case-theme">
                                    <span class="ressource-name"> {{ ressource.name }} </span> <br/>
                                    <span class="ressource-type"> Level {{ ressource.level }}</span>                                           </div>
                                </a>
                                <a href="{{ path('ressources_show', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </a>
                                <a href="{{ path('ressources_edit', {'id': ressource.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-edit"></i>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}

                {% endif %}
                </div>
            </div>
    </div>
</div>
{% endblock %}
