{% extends 'base.html.twig' %}

{% block title %}Ma bibliodev • Sous-thèmes{% endblock %}

{% block body %}

<div class="contenant">
    <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                    <div class="admin-btn-white">{{ currentTheme.name }}</div>
                    <div class="admin-btn-static"> Sous-thèmes </div>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn-static">Ressources</div>
                </a>
            </div>

            <div class="grid-theme">
                <div class="col-theme">
                    <h4>Thème choisi : {{ currentTheme.name }}</h4>
                    {% for theme in allThemes %}
                        <div class="row-theme">
                                <a href="{{ path('show_currentTheme', {'currentTheme': theme.name|lower }) }}">
                                    <div class="case-theme">
                                        {{ theme.name }}
                                    </div>
                                </a>
                                <a href="{{ path('themes_show', {'id': theme.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </a>
                                <a href="{{ path('themes_edit', {'id': theme.id}) }}">
                                    <div class="case-icon">
                                        <i class="far fa-edit"></i>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-theme">
                    <h4>Choisir un sous-thème :</h4>
                    {% for subtheme in currentTheme.subthemes %}
                        <div class="row-theme">
                                <a href="{{ path('show_ressoucesInSubtheme', {'currentTheme': currentTheme.name|lower, 'currentSubtheme': currentTheme.subthemes.0.name|lower }) }}">
                                    <div class="case-theme-pink">
                                        {{ subtheme.name }}
                                    </div>
                                </a>
                                <a href="{{ path('subthemes_show', {'id': subtheme.id}) }}">
                                    <div class="case-icon-pink">
                                        <i class="far fa-eye"></i>
                                    </div>
                                </a>
                                <a href="{{ path('themes_edit', {'id': subtheme.id}) }}">
                                    <div class="case-icon-pink">
                                        <i class="far fa-edit"></i>
                                    </div>
                                </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-theme">
                        <div class="row-theme">
                        </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
