{{ form_start(form) }}

    <div class="row">

        <div class="col add-theme">
            {{ form_row(form.theme, {'attr': {'class': 'input-form'}}) }}
        </div>
        <div class="col add-subtheme" hidden>
            {{ form_row(form.subtheme, {'attr': {'class': 'input-form'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.name, {'attr': {'class': 'input-form'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.level, {'attr': {'class': 'input-form'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.type, {'attr': {'class': 'input-form'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.url, {'attr': {'class': 'input-form'}}) }}
        </div>

        <script>
            const theme = document.querySelector('.add-theme');
            const subtheme = document.querySelector('.add-subtheme');

            theme.addEventListener('change', (e) => {
                subtheme.style.display = 'block';
            });
        </script>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
