{% extends 'base.html.twig' %}

{% block title %}Ressources index{% endblock %}

{% block body %}

    <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

                {# {{ form_start(form) }}
                {{ form_widget(form) }}
                <button>Search</button>
                {{ form_end(form) }}

                <a href="{{ path('ressources_index')}}">Voir tout</a> #}

            <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn">Thèmes</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn-white">Ressources</div>
                </a>
            </div>

            <div class="grid-theme">
                <div class="col-theme">
                {% for ressource in ressources %}
                        <div class="row-theme">
                            <a href="{{ ressource.url }}" target="_blank">
                                <div class="case-theme">
                                    <span class="ressource-name"> {{ ressource.name }} </span> <br/>
                                    <span class="ressource-type"> {{ ressource.type }} / Level {{ ressource.level }}</span>
                                </div>
                            </a>
                                <a href="{{ path('ressources_show', {'id': ressource.id}) }}">
                                    <div class="case-icon"><i class="far fa-eye"></i></div>
                                </a>
                                <a href="{{ path('ressources_edit', {'id': ressource.id}) }}">
                                    <div class="case-icon"><i class="far fa-edit"></i></div>
                                </a>
                        </div>
                {% else %}
                    <div>no records found</div>
                {% endfor %}
                </div>
            </div>

            <a class="save-btn" href="{{ path('ressources_new') }}">Ajouter une ressource</a>

    </div>
</div>
{% endblock %}
