{% extends 'base.html.twig' %}

{% block title %}Edit Themes{% endblock %}

{% block body %}

    <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn-white">{{ theme.name }}</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn">Ressources</div>
                </a>
            </div>

            {{ include('themes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            {{ include('themes/_delete_form.html.twig') }}

            <a href="{{ path('themes_index') }}"><i class="far fa-arrow-alt-circle-left"></i></a>

        </div>
    </div>
{% endblock %}
