{% extends 'base.html.twig' %}

{% block title %}Ma Bibliodev • Thèmes{% endblock %}

{% block body %}

 <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

              <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn">Thèmes</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn">Ressources</div>
                </a>
            </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for theme in themes %}
                        <tr>
                            <td>{{ theme.id }}</td>
                            <td>{{ theme.name }}</td>
                            <td>{{ theme.description }}</td>
                            <td>
                                <a href="{{ path('themes_show', {'id': theme.id}) }}">show</a>
                                <a href="{{ path('themes_edit', {'id': theme.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('themes_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
