{% extends 'base.html.twig' %}

{% block title %}Themes{% endblock %}

{% block body %}

    <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn">Thèmes</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn">Ressources</div>
                </a>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ theme.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ theme.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ theme.description }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('themes_index') }}">back to list</a>

            <a href="{{ path('themes_edit', {'id': theme.id}) }}">edit</a>

            {{ include('themes/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}
