{% extends 'base.html.twig' %}

{% block title %}Themes{% endblock %}

{% block body %}

    <div class="contenant">
        <div class="contenu">

			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                <a href="{{ path('themes_index')}}">
                    <div class="admin-btn-white">{{ theme.name }}</div>
                </a>
                <a href="{{ path('subthemes_index')}}">
                    <div class="admin-btn">Sous-thèmes</div>
                </a>
                <a href="{{ path('ressources_index')}}">
                    <div class="admin-btn">Ressources</div>
                </a>
            </div>

             <div class="col-theme">
                    <div class="row">
                        <div class="col add-theme">
                            <div class="label-form">Nom</div>
                            <div class="input-form">{{ theme.name }}</div>
                        </div>
                        <div class="col">
                            <div class="label-form">Description</div>
                            <div class="input-form">{{ theme.description }}</div>
                        </div>

                            <a class="save-btn" href="{{ path('themes_edit', {'id': theme.id}) }}">Modifier</a>

                            {{ include('themes/_delete_form.html.twig') }}

                            <a href="{{ path('themes_index') }}"><i class="far fa-arrow-alt-circle-left"></i></a>

                    </div>
                </div>
        </div>
    </div>
{% endblock %}
